.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text_center{
    text-align: center;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 120px;
}
/* shared style */
.secondary_bg{
    background-color: #FFF8F3;
}
.text_primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn_primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 18px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_description{
    font-size: 18px;
    color: #757575;
}

h2.nav_title{
    font-weight: 700;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 120px;
}
.banner > .banner_content{
    max-width: 585px;
    margin-top: 65px;
}
.banner > .banner_content .banner_greeting{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
}
.banner > .banner_content .banner_tittle{
    font-size: 45px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}
.banner > .banner_content .btn_margin{
    margin-top: 15px;
    margin-right: 10px;
}
.banner > .banner_profile_pic{
    width: 585px;
}

/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About section */
.about{
    border-radius: 10px;
    padding: 5px 150px;
    text-align: center;
}
.about .about_desk{
    margin-top: 20px;
}
.about_items{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.about_items p.item_description{
    font-weight: 600;
}

/* Skills section */
.skills > h3.section_title{
    margin-bottom: 30px;
}
.skill_container{
    margin-top: 55px;
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
}
.skill h4.skill_title{
    margin: 20px 0px;
}

/* Resume Section */
.resume_container{
    display: flex;
    gap: 24px;
}
.resume_container h4.experience_title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}
h3.resume_column_title{
    font-size: 30px;
    font-weight: bold;
}
.resume_container h5.experience_subtitle{
    color: #757575;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 15px;
}
.resume_container .experience_description{
    color: #757575;
    font-weight: normal;
    font-size: 16px;
}
.resume hr{
    margin: 30px 5px;
}
.resume_download_cv{
    margin-top: 60px;
}

/* Footer Styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.footer_column{
    width: 50%;
    box-sizing: border-box;
}
.footer_column > h3.section_title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
}
.social_icon{
    display: flex;
    gap: 25px;
}

footer input[type='text'], footer input[type='email']{
    height: 64px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
}
footer textarea{
    width: 100%;
    display: block;
    height: 180px;
    border: none;
}
footer input[type='submit']{
    margin-top: 20px;
}
.hide {
    display: none;
}

/* Responsive for small or androiad phone */
@media screen and (max-width: 576px) {
    .skill_container, .resume_container, footer{
        flex-direction: column;
    }
    footer{
        padding: 20px;
    }
    .footer_column{
        width: 100%;
    }
    .header{
        background-image: none;
    }
    nav{
        flex-direction: column;
        margin: auto;
    }
    nav h2.nav_title{
        margin-bottom: 0;
        margin-top: 0;
    }
    nav ul{
        gap: 20px;
        flex-direction: column;
    }
    .banner{
        flex-direction: column;
        margin: 0;
    }
    .banner > .banner_content{
        width: auto;
        margin-top: 0;
    }
    .banner > .banner_profile_pic{
        width: auto;
    }
    button.btn_primary{
        margin-top: 10px;
    }
    .about{
        padding: 20px;
        box-sizing: border-box;
    }
    .about_items{
        flex-direction: column;
        gap: 20px;
    }
}